.sidebar {
	grid-area: sidebar;
}
.content {
	grid-area: content;
}
.grid {
	display: block;
}
@media screen and (min-width: 900px) {
	.grid {
	  display: grid;
	  grid-column-gap: 24px;
	  grid-template-columns: 2fr  9fr  1fr;
	  grid-template-areas:
	             "....... header  ......."
	             "sidebar content .......";
	}
}
@media screen and (min-width: 1200px) {
  .grid {
    grid-template-columns: 2fr  6fr  4fr;
  }
}
