@import "reset";
@import "grid";
@import "typography";

body {
  background-color: #fff;
}
p {
  margin-top: 1em;

  &:first-child {
    margin-top: 0;
  }
}
p + h2 {
  margin-top: 64px;
}

a {
  color: #007272;
  text-decoration: none;
  border-bottom: 1px solid #007272;
  transition: border 0.2s ease-in;
  &:hover {
    border-color: transparent;
  }
}

.wrap {
  margin: 80px auto 140px auto;
  width: 100%;
  max-width: 1448px;
  padding-left: 24px;
  padding-right: 24px;

  @media screen and (min-width: 450px) {
    padding-left: 48px;
    padding-right: 48px;
  }
}
.sidebar {
  font-size: 16px;
  span {
    display: block;
    opacity: 0.54;
  }

  @media screen and (max-width: 769px) {
    font-size: 14px;
    padding: 16px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    margin-bottom: 32px;
  }

}

.articleIntro {
  .category + .lead {
    margin-top: 32px;
  }
  .lead + h1 {
    margin-top: 16px;
  }
  .category {
    color: #EB005A;
  }
  .lead {
    opacity: 72%;
  }
}
@media screen and (min-width: 450px) {
  .articleIntro {
    .category + .lead {
      margin-top: 48px;
    }
    .lead + h1 {
      margin-top: 20px;
    }
  }
}

.article {
  margin-top: 0;
}
.heroImage img {
  margin-top: 48px;
  width: 100%;
}

figcaption {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.72);
  margin-top: 8px;

  span {
    display: block;
    color: rgba(0, 0, 0, 0.54);
  }
}


.nav {
    margin-top: 0;
    background-color: #007273;
    font-size: 14px;
    height: 32px;
    line-height: 34px;

    ul {
      width: 100%;
      max-width: 1448px;
      padding-left: 24px;
      padding-right: 24px;
      margin: 0 auto;
      display: flex;

      @media screen and (min-width: 450px) {
        padding-left: 48px;
        padding-right: 48px;
      }
    }
    a {
      color: #C2DCDC;
      margin: 0 24px;
      border: none;
      padding-bottom: 6px;
      border-bottom: 2px solid transparent;

      &:first-child {
        margin-left: 0;
      }

      &.active {
        color: #fff;
        border-color: #A5E1D2;
      }
      &:hover {
        color: #fff;
      }
    }
}
