html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, iframe {
  vertical-align: bottom;
  max-width: 100%;
}

input, textarea, select {
  font: inherit;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
}

.grid {
  display: block;
}

@media screen and (min-width: 900px) {
  .grid {
    display: grid;
    grid-column-gap: 24px;
    grid-template-columns: 2fr 9fr 1fr;
    grid-template-areas: "....... header  ......." "sidebar content .......";
  }
}
@media screen and (min-width: 1200px) {
  .grid {
    grid-template-columns: 2fr 6fr 4fr;
  }
}
@font-face {
  font-family: "DNB Sans";
  src: url("fonts/DNB-47-090-Regular.eot");
  src: url("fonts/DNB-47-090-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/DNB-47-090-Regular.woff2") format("woff2"), url("fonts/DNB-47-090-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DNB Sans";
  src: url("fonts/DNB-47-120-Medium.eot");
  src: url("fonts/DNB-47-120-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/DNB-47-120-Medium.woff2") format("woff2"), url("fonts/DNB-47-120-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "DNB Sans";
  src: url("fonts/DNB-47-150-Bold.eot");
  src: url("fonts/DNB-47-150-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/DNB-47-150-Bold.woff2") format("woff2"), url("fonts/DNB-47-150-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "DNB Sans";
  src: url("fonts/DNB-47-060-Light.eot");
  src: url("fonts/DNB-47-060-Light.eot?#iefix") format("embedded-opentype"), url("fonts/DNB-47-060-Light.woff2") format("woff2"), url("fonts/DNB-47-060-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
html {
  font-family: "DNB Sans";
  font-size: 100%;
  font-size: 1vw;
  -webkit-text-size-adjust: 100%;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

body {
  font-family: "DNB Sans";
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}

.intro {
  font-size: 18px;
  max-width: 592px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h1, h2, h3 {
  color: #000;
  line-height: 1;
  font-weight: 500;
}

blockquote {
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 28px;
  line-height: 1.15;
  font-weight: 500;
}

@media screen and (min-width: 450px) {
  body {
    font-size: calc(16px + (20 - 16) * ((100vw - 450px) / (1448 - 450)));
  }

  .intro {
    font-size: calc(18px + (20 - 18) * ((100vw - 450px) / (1448 - 450)));
  }

  h1 {
    font-size: calc(32px + (60 - 32) * ((100vw - 450px) / (1448 - 450)));
  }

  h2 {
    font-size: calc(20px + (32 - 20) * ((100vw - 450px) / (1448 - 450)));
  }

  h3 {
    font-size: calc(18px + 6 * ((100vw - 450px) / 1350));
  }

  blockquote {
    font-size: calc(28px + (48 - 28) * ((100vw - 450px) / (1448 - 450)));
  }
}
@media screen and (min-width: 1448px) {
  body {
    font-size: 20px;
  }

  .intro {
    font-size: 22px;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }

  blockquote {
    font-size: 48px;
  }
}
body {
  background-color: #fff;
}

p {
  margin-top: 1em;
}
p:first-child {
  margin-top: 0;
}

p + h2 {
  margin-top: 64px;
}

a {
  color: #007272;
  text-decoration: none;
  border-bottom: 1px solid #007272;
  transition: border 0.2s ease-in;
}
a:hover {
  border-color: transparent;
}

.wrap {
  margin: 80px auto 140px auto;
  width: 100%;
  max-width: 1448px;
  padding-left: 24px;
  padding-right: 24px;
}
@media screen and (min-width: 450px) {
  .wrap {
    padding-left: 48px;
    padding-right: 48px;
  }
}

.heroWrap {
  margin: 80px auto 140px auto;
  width: 100%;
  max-width: 1448px;
}
@media screen and (min-width: 1448px) {
  .heroWrap {
    padding-left: 48px;
    padding-right: 48px;
  }
}
.heroWrap .articleIntro {
  padding-left: 24px;
  padding-right: 24px;
}
@media screen and (max-width: 1448px) and (min-width: 450px) {
  .heroWrap .articleIntro {
    padding-left: 48px;
    padding-right: 48px;
  }
}
@media screen and (min-width: 1449px) {
  .heroWrap .articleIntro {
    padding-left: 0;
    padding-right: 0;
  }
}

figcaption {
  padding-left: 24px;
  padding-right: 24px;
}
@media screen and (max-width: 1448px) and (min-width: 450px) {
  figcaption {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media screen and (min-width: 1449px) {
  figcaption {
    padding-left: 0;
    padding-right: 0;
  }
}

.sidebar {
  font-size: 16px;
}
.sidebar > span {
  display: block;
  opacity: 0.54;
}
@media screen and (min-width: 900px) {
  .sidebar > span:nth-child(2) {
    margin-top: 24px;
  }
  .sidebar > span span {
    display: block;
  }
}
@media screen and (max-width: 900px) {
  .sidebar {
    font-size: 14px;
    padding: 16px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    margin-bottom: 32px;
  }
}

.articleIntro .category + .lead {
  margin-top: 32px;
}
.articleIntro .lead + h1 {
  margin-top: 16px;
}
.articleIntro .category {
  color: #EB005A;
}
.articleIntro .lead {
  opacity: 72%;
}

@media screen and (min-width: 450px) {
  .articleIntro .category + .lead {
    margin-top: 48px;
  }
  .articleIntro .lead + h1 {
    margin-top: 20px;
  }
}
.article {
  margin-top: 0;
}

.heroImage img {
  margin-top: 48px;
  width: 100%;
}

figcaption {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.72);
  margin-top: 8px;
}
figcaption span {
  display: block;
  color: rgba(0, 0, 0, 0.54);
}

.topHeader {
  margin-top: 0;
  background-color: #007273;
  height: 32px;
}
.topHeader .topHeaderWrapper {
  max-width: 1448px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
}
@media screen and (min-width: 450px) {
  .topHeader .topHeaderWrapper {
    padding-left: 48px;
    padding-right: 48px;
  }
}
.topHeader .logo {
  height: 28px;
}

.nav {
  font-size: 14px;
  line-height: 34px;
}
.nav ul {
  display: flex;
}
.nav a {
  color: #C2DCDC;
  margin: 0 24px;
  border: none;
  padding-bottom: 6px;
  border-bottom: 2px solid transparent;
}
.nav a:first-child {
  margin-left: 0;
}
.nav a.active {
  color: #fff;
  border-color: #A5E1D2;
}
.nav a:hover {
  color: #fff;
}

/*# sourceMappingURL=app.css.map */
